* {
  margin: 0;
  padding: 0;
}

html body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
}

.error__message {
    font-size: 18px;
    width: 300px;
    height: 40px;
    border-radius: 40px;
    background-color: #f56872;
    color: white;
    opacity: 0.9;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    position: fixed;
    right: 0;
    left: 0;
    top: 120px;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: none;
}

.btn {
  min-width: 173px;
  min-height: 47px;
  background-color: #181818;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding: 12px 30px;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

/* HEADER */
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  background-color: #181818;
}

.header__container__navbar {
  background-color: #181818;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  gap: 220px;
  height: 120px;
  align-items: center;
}

.header__container__navbar__logo {
  background-color: #181818;
  border: none;
  display: flex;
  align-items: center;
}

.header__container__navbar__logo a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__container__navbar__logo span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}

.header__container__navbar__logo__img {
  width: 52;
  height: 52;
}

.header__container__navbar__h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.burger__icon {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: white;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #181818;
  padding: 20px;
  position: absolute;
  top: 120px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000066;
  min-width: 300px;
  gap: 10px;
}

.mobile-menu li {
  list-style: none;
  border-top: 1px solid #686868;
  text-align: center;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 60px;
}

.mobile-menu li a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;

}

.mobile-menu .start__game {
  width: 100%;
  height: 100%;
  padding-top: 5px;
}

.header__container__navbar__actions {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.header__container__navbar__actions__img {
  width: 65px;
  height: 65px;
}

.header__container__navbar__actions__btn a{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* MAIN */
.main__container {
  width: 100vw;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.main__container__content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__container__banner {
  width: 100%;
  height: 500px;
  background-image: url('./images/main_content_images/Знімок\ екрана\ \(541\).svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container__banner__field {
  position: relative;
  max-width: 1600px;
  height: 100%;
}

.main__container__banner__field__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  bottom: 50px;
  width: 400px;
  height: 55px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  background-color: #000000;
  opacity: 75%;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#go__to__categories {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container__article {
  margin-top: 65px;
  padding-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #373737;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  max-width: 1600px;
  border-top: 1px solid #C5C5C5;
}

.main__container__article__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__container__article__content h2 {
  font-size: 40px;
  font-weight: 600;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 700px;
}

.main__container__article__content__right__section {
  padding-left: 150px;
}

/* FOOTER */
.footer__container {
  background-color: #181818;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
}

.info-modal {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  background: #181818;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 30px 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  min-width: 400px;
  text-align: center;
  transition: all 0.3s ease;
}

.info-modal__close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.footer__container__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 130px;
  padding: 0 100px;
  max-width: 1600px;
  height: 120px;
}

.footer__container__navbar__list {
  display: flex;
  gap: 50px;
  list-style: none;
}


/* AUTHORIZATION */
.authorization__container {
  display: none;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.authorization__container__content {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px 40px;
  border-radius: 20px;
  box-shadow: 0 0 28.4px #00000042;
}

.authorization__container__content__h2 {
  color: #373737;
  font-size: 36px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.authorization__container__content__label {
  color: #373737;
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

#regLabel{
  display: none;
}

.authorization__container__content__input {
  padding-left: 20px;
  font-size: 18px;
  background-color: #F6F6F6;
  border-radius: 20px; 
  border: none;
  width: 100%;
  height: 50px;
}

.btn__login {
  height: 56px;
  background-color: #000000;
  border-radius: 20px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.authorization__container__content__span {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #000000;
}

.btn__signup {
  height: 56px;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 3px solid #000000;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

/* SLIDER */
.carousel {
  display: none;
  position: relative;
  overflow: hidden;
  width: 70%;
  margin-top: 50px;
  height: auto;
}

.slides {
  display: flex;
  transition: transform 1s ease;
}

.slide {
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.btn__show__category {
  position: absolute;
  width: 400px;
  height: 56px;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
  background-color: #000000BF;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  bottom: 30px;
}

.slide img {
  width: 600px;
  height: auto;
  display: block;
  border-radius: 20px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev { 
  left: 0; 
  width: 50px;
  height: 50px;
}
.next { 
  right: 0;
  width: 50px;
  height:50px;
}

.indicators {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active { background-color: #717171; }

/* CATEGORY */
.category__container {
  display: none;
  position: relative;
  max-width: 1600px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.category__container__btn-back {
  position: absolute;
  left: 143px;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #181818;
  color: #F6F6F6;
}

.category__container__btn-back a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.category__container__btn-back a img {
  transform: rotate(180deg);
}

.category__container__h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  color: #373737;
  font-weight: 600;
  text-align: center;
} 

.category__container__items {
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.category__container__item {
  width: 300px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4.7px 4px #00000026;
}

.category__container__item__img {
  width: 302px;
}

.category__container__item__name {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #373737;
}

.category__container__item__description {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #858585;
}

.category__container__item__price {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #D87700;
}

/* @MEDIA */
@media (max-width: 1500px) {
  .wrapper {
    align-items: flex-start;
  }

  .category__container__items {
    width: 900px;
    justify-content: center;
  }

  .category__container__item {
    text-align: center;
    width: 250px;
  }

  .category__container__btn-back {
    left: 43px;
    top: 0;
    width: 40px;
    height: 40px;
  }

  .category__container__h2 {
    font-size: 32px;
  }

  .category__container__item__img {
    width: 250px;
  }

  .footer__container {
    justify-content: flex-start;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    align-items: flex-start;
  }
  
  .header__container__navbar {
    gap: 30px;
  }

  .main__container {
    overflow-x: hidden;
  }

  .category__container__items {
    width: 800px;
    justify-content: center;
  }

  .category__container__item {
    text-align: center;
    width: 200px;
  }

  .category__container__btn-back {
    left: 60px;
    top: 0;
    width: 40px;
    height: 40px;
  }

  .category__container__h2 {
    font-size: 32px;
  }

  .category__container__item__img {
    width: 200px;
  }

  .footer__container {
    justify-content: flex-start;
  }

  .footer__container__navbar {
    padding: 20px;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    align-items: flex-start;
  }

  .burger__icon {
    display: block;
  }

  .header__container__navbar__actions,
  .header__container__navbar__h1 {
    display: none;
  }

  .main__container__article {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .main__container__banner {
    height: 200px;
  }

  .main__container__banner__field__btn {
    width: 100px;
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    bottom: 20px;
  }

  .main__container__article img {
    width: 300px;
    height: 300px;
  }

  .main__container__article__content {
    align-items: center;
  }

  .section {
    width: 300px;
  }

  .slide img {
    width: 400px;
  }

  .next {
    right: 81px;
  }

  .prev {
    left: 81px;
  }

  .category__container__items {
    width: 370px;
    justify-content: center;
  }

  .category__container__item {
    width: 170px;
  }

  .category__container__btn-back {
    left: 0px;
    top: 0;
    width: 40px;
    height: 40px;
  }

  .category__container__h2 {
    font-size: 32px;
  }

  .category__container__item__img {
    width: 170px;
  }

  .footer__container {
    justify-content: center;
  }

  .footer__container__navbar__list {
    display: none;
  }
}
